<p>{{ username }}</p>
<div>
  <h3>Name: {{ user.name }}</h3>
  <h3>Location: {{ user.location }}</h3>
  <h3>Email: {{ user.email }}</h3>
  <h3>Public Repos: {{ user.public_repos }}</h3>
  <h3>Followers: {{ user.followers }}</h3>
  <h3>Following: {{ user.following }}</h3>
</div>

<select ng-model="repoSortOrder">
  <option value="+name">Name</option>
  <option value="-stargazers_count">Stars</option>
  <option value="+language">Language</option>
</select>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
      <td>{{repo.name}}</td>
      <td>{{repo.stargazers_count | number}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>
<img ng-src="{{user.avatar_url}}" title="{{user.name}}" alt="{{user.name}}" />
