<div>
  {{ error }}
  <div>
    <a href="#/main">Back to search</a>
  </div>
  <div>
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}" alt="{{user.name}}"/>
    <p>Name: {{ user.name }}</p>
    <p>Location: {{ user.location }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Public Repos: {{ user.public_repos }}</p>
    <p>Followers: {{ user.followers }}</p>
    <p>Following: {{ user.following }}</p>
  </div>
</div>

<select ng-model="repoSortOrder">
  <option value="+name">Name</option>
  <option value="-stargazers_count">Stars</option>
  <option value="+language">Language</option>
</select>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
      <td>
        <a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a>
      </td>
      <td>
        {{repo.stargazers_count | number}}
      </td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>
